streamlit
numpy
av==14.0.0 # <--- Changed to 14.0.0 to satisfy aiortc/streamlit-webrtc
scipy
faster-whisper
streamlit-webrtc==0.63.0
torch
langchain
langchain-core
langchain-community
langchain-google-genai>=1.0.0
kokoro-onnx
soundfile
vosk